body {
  font-family: 'Century Gothic', Avenir, 'Franklin Gothic', Futura, system-ui,
    -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 0.9;
  text-align: center;
}

.event-title {
  font-size: 0.6em;
}

@media (min-width: 575px) {
  .event-title {
    font-size: 0.75em;
  }
}

@media (min-width: 768px) {
  .event-title {
    font-size: 1em;
  }
}

.wrapper {
  position: relative;
}

.years text {
  color: #676170;
  font-size: 0.75rem;
}

.year-backgrounds {
  fill: #faf9fb;
}

body,
main,
.timeline,
svg {
  max-width: 100vw;
}

/*
 * TOOLTIP
 * */

.tooltip {
  background-color: #fff;
  border: 1px solid #5598e2;
  font-family: 'Century Gothic', Avenir, 'Franklin Gothic', Futura, system-ui,
    -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  left: 0;
  width: 300px;
  max-width: 100vw;
  opacity: 0;
  padding: calc(16px - 1px);
  /* border width adjustment */
  pointer-events: none;
  border-radius: 5px;
  position: absolute;
  top: 0;
  transition: opacity 0.1s linear, transform 0.05s ease-in-out;
  z-index: 1;
}

.tooltip.war {
  border: 1px solid #c28080;
}

.tooltip-date {
  margin-bottom: 0.2em;
  font-size: 0.7em;
  line-height: 1.2;
  font-weight: 400;
}

.tooltip-name {
  margin-bottom: 0.2em;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 700;
}

.tooltip-description {
  margin-bottom: 0.2em;
  font-size: 0.8em;
  line-height: 1.4;
  font-weight: 400;
}
