body {
  font-family: 'Century Gothic', Avenir, 'Franklin Gothic', Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
}

#timeline {
  min-width: 100vw;
  min-height: 100vh;
}

text {
  fill: #093B72;
  font-weight: 400;
  font-family: 'Century Gothic', Avenir, 'Franklin Gothic', Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.event-title {
  fill: #093B72;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Century Gothic', Avenir, 'Franklin Gothic', Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
}

.event-title:hover {
  cursor: default;
}

.event-description {
  fill: #093B72;
  font-weight: 400;
  font-family: 'Century Gothic', Avenir, 'Franklin Gothic', Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  transform: translateY(1em);
}

#title {
  fill: #093B72;
  font-weight: 600;
  font-family: 'Century Gothic', Avenir, 'Franklin Gothic', Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.axis text {
  fill: #676170;
  font-weight: 400;
  font-family: 'Century Gothic', Avenir, 'Franklin Gothic', Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

@media (max-width: 768px) {

  text,
  .event-title,
  .event-description,
  #title,
  .axis text {
    font-size: 14px;
  }
}

#chart-background {
  fill: white;
}

.tick line,
.domain {
  stroke: #E2E0E5;
}

/***
Tooltip Related Styles
***/

  .wrapper {
    position: relative;
  }

  .tooltip {
    background-color: #fff;
    border: 1px solid #5598E2;
    font-family: 'Century Gothic', Avenir, 'Franklin Gothic', Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
    left: 0;
    max-width: 300px;
    opacity: 0;
    padding: calc(16px - 1px);
    /* border width adjustment */
    pointer-events: none;
    border-radius: 5px;
    position: absolute;
    top: -8px;
    transition: opacity 0.1s linear, transform 0.05s ease-in-out;
    z-index: 1;
  }

  .tooltip.war {
    border: 1px solid #c28080;
  }

  .tooltip-date {
    margin-bottom: 0.2em;
    font-size: 0.7em;
    line-height: 1.2;
    font-weight: 400;
  }

  .tooltip-name {
    margin-bottom: 0.2em;
    font-size: 1em;
    line-height: 1.4;
    font-weight: 700;
  }

  .tooltip-description {
    margin-bottom: 0.2em;
    font-size: 0.8em;
    line-height: 1.4;
    font-weight: 400;
  }