body {
  font-family: 'Century Gothic', Avenir, 'Franklin Gothic', Futura, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 0.9;
  text-align: center;
}
